<h1>Ping Pong</h1>

<p>Enter a number to indicate how many values you want returned!</p>

<form action='/output' method='get'>
  <div class="form-group">
    <label for="countTo">Number</label>
    <input id="countTo" name="countTo" class="form-control" type="number">
  </div>

  <button type="submit" class="btn btn-info">Ping Pong!</button>
</form>
